.vcd-game-picker-hint {
    margin-bottom: 1em;
}

.vcd-game-picker-list {
    display: grid;
    gap: 0.5em;
    margin-bottom: 0.5em;
}

.vcd-game-picker-game {
    display: flex;
    align-items: center;
    padding: 0.75em 1em;
    box-sizing: border-box;
    cursor: pointer;
}

.vcd-game-picker-game:hover {
    outline: 2px solid var(--brand-500);
}

.vcd-game-picker-name {
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
